.gallery {
    user-select: none;
    padding-top: 60px;
    padding-bottom: 60px;
}
.gallery__container {
    margin-bottom: 5px;
    position: relative;
}
.gallery__navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, 0);
}
.gallery__previewList {
    margin: 0 auto;
}
@media (max-width: 1080px) {
    .gallery {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
@media (max-width: 900px) {
    .gallery {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media (max-width: 520px) {
    .gallery {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
