:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    /* background-color: #242424; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --main-black-color: #000201;
    --second-black-color: #272928;
    --white-color: #ffffff;
    --main-orange-color: #ff3d00;
    --second-orange-color: #ff521b;
    --border-radius: 52px;
    scroll-behavior: smooth;
}
