.navigation {
    background: transparent;
    border-radius: 5px;
    padding: 5px;
    display: inline-flex;
    gap: 5px;
    border: 1px solid gray;
}
.navigation__btn {
    min-width: 45px;
    display: block;
    height: 45px;
    border: none;
    padding: 0;
    background: #ff521b url('./img/arrow-left.svg') no-repeat center center;
    opacity: 0.6;
    text-indent: -1234em;
    background-size: 52% auto;
    transition: opacity 0.3s, background-color 0.3s;
    cursor: pointer;
    border-radius: 5px;
}
.navigation__btn_left {
    background-image: url('../../../assets/img/arrow-left.svg');
}
.navigation__btn_right {
    background-image: url('../../../assets/img/arrow-right.svg');
}
.navigation__btn:hover {
    opacity: 1;
}
.navigation__btn:disabled {
    background-color: transparent;
    cursor: default;
    opacity: 0.5;
}
